.aboutme{
    width: 100%;
    
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__photo{
        width: 350px;
        height: 300p;
        border-radius: 15px;
        margin-right: 45px;
    }
}
.aboutme__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    &--title{
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 30px;
        margin: 0;
        color: rgb(0, 0, 0);
    }
    &--text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    }
    &--link{
        text-decoration: none;
    }
    &--cv{
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px;
        &:hover{
            background-color: black;
            color:#EE8927;
            opacity: 0.8;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }
    }
}
