.aboutme{
    background-color:white;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aboutme__photo{
    width: 350px;
    height: 300p;
    border-radius: 15px;
    margin-right: 45px;
}
.aboutme__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}
.aboutme__content--title{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    margin: 0;
    color: rgb(0, 0, 0);
}

.aboutme__content--text{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
}