.contact__wrapper{
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 18px;
    line-height: 33px;
    
    &--title{
        margin:0;
        padding-bottom: 20px;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 40px;
    }
}
