@keyframes scale {
    0% {
      transform: scale(1); }
    100% {
    transform: scale(1.1) } 
}

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}

.contact__wrapper{
    width: 100%;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    &--title{
        font-family: 'Noto Sans', sans-serif;
        font-size: 40px;
        margin: 0;
    }
    
    &--link{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &--menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 15px;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 20px;
    }

    &--text{
        text-decoration: none;
        animation-name: 'zoomIn';
        animation-duration: 2s;
        &:hover{
            color: black;
            transform: scale(1.7);
        }
    }
    &--copy{
        margin: 25px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: rgb(160, 102, 102);
    }
}

.icon{
    width: 45px;
    height: 45px;
    justify-content: center;
    margin: 25px;
    padding: 8px;
    animation-name: 'zoomIn';
    animation-duration: 2s;
    transition: color ease 1s;
    transition: background-color ease 1s;
    border-radius: 10px;
    &:hover{
        color: rgb(160, 102, 102);
        background-color: black;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.2)
    }
}