.item__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media($tablet){
    flex-direction: row-reverse;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 7%;
    margin-top: 4%;
    justify-content: space-around;
    align-items: flex-start;
  }
  &--name{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: rem(22);
    font-weight: 400;
    margin: rem(20) ;
    color: $color-title;
    text-align: center;
    &:hover{
        color: $color-orange;
    }
    @include media ($tablet){
      font-size: rem(30);
      text-align: start;
      margin: 0;
    }
  }
  &--img{
    width: rem(200);
    height: rem(130);
    border-radius: rem(10);
    border: 2px solid $color-black;
    @include media ($tablet){
      width: rem(320);
      height: rem(220);
    }
    @include media ($desktop){
      width: rem(400);
      height: rem(260);
    }
  }
  &--link{
    font-family: 'Merriweather Sans', sans-serif;
    font-size: rem(18);
    text-decoration: none;
    &:hover{
        color: $color-black;
    }
  }
  &--btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include media ($tablet){
      justify-content: flex-start;
    }
  }
  &--text{
    border: 2px solid $color-black;
    border-radius: rem(5);
    padding: rem(20);
    font-size: rem(16);
    font-family: 'Merriweather', sans-serif;
    display: block;
    margin: auto;
    margin-bottom: rem(50);
    width: rem(130);
    text-align: center;
    &:hover{
        background-color: $color-black;
        color:$color-white;
        opacity: 0.8;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    }
    @include media ($tablet){
      width: rem(150);
      font-size: rem(18);
      padding: rem(22);
      margin: rem(20) rem(30) rem(20) 0;
    }
    @include media ($desktop){
      margin: 0;
      margin-right: rem(50);
    }
  }
  &--description{
    line-height: rem(30);
    font-size: rem(18);
    text-align: justify;
    margin: rem(20) rem(20);
    @include media ($tablet){
      padding-right: 10%;
      margin: rem(30) 0 ;
      height: rem(150);
    }
  }
}

.item__content{
  width: 100%;
  @include media ($tablet){
    width: 46%;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }
}


