.skills__wrapper{
    padding: rem(20);
    @include media($desktop){
        padding: rem(30);
    }
    &--title {
        margin:0;
        text-align: center;
        padding: rem(30) 0 rem(20);
        font-family: 'Merriweather Sans', sans-serif;
        font-size: rem(35);
        @include media($tablet){
            font-size: rem(40);
        }
    }
    &--list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 200px);
        grid-gap: rem(5);
        justify-content: center;
        @include media($tablet){
            grid-gap: rem(10);
        }
        @include media($desktop){
            grid-gap: rem(8);
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    &--item {
        border: 4px double $color-orange;
        opacity: 0.9;
        //border-radius: rem(15);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        padding: rem(5);
        margin: rem(8);
        color: $color-black;
        font-size: rem(17);
        font-family: 'Merriweather', sans-serif;
        @include media($tablet){
            padding: rem(8);
        }
        @include media ($desktop){
            padding: rem(10);
        }
    }
    &--logo {
        height: rem(60);
        width: auto;
        margin: rem(3);
    }
}
