.skills__wrapper{
    padding: 20px;
    background-color: white;
    &--title {
        margin:0;
        text-align: center;
        padding-bottom: 20px;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 40px;
    }
    &--list {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 8px;
        justify-content: center;
    }
    &--item {
        background-color: rgb(160, 102, 102);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        padding: 10px;
        margin:8px;
        color: black;
        width: 280px; 
        font-size: 17px;
        font-family: 'Merriweather', sans-serif;
    }
    &--logo {
        height: 60px;
        width: auto;
        margin: 3px;
    }
}
.skills__container{
    padding: 30px;
}