.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/image.jpg');
  background-size: cover;
  background-position: right;
  @include media($tablet){
    padding: rem(30);
    background-position: bottom;
  }
  @include media($desktop){
    padding: rem(50);
    background-position: right;
  }
  &__title{
    font-size: rem(30);
    font-family: 'Noto Sans', sans-serif;
    color: $color-darkBlue;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid $color-orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
    @include media($tablet){
      font-size: rem(45);
    }
    @include media($desktop){
      font-size: rem(60); 
      text-align: start;
    }
  }
  &__position{    
    text-align: start;
    overflow: hidden;
    font-size: rem(20);
    font-family: 'Montserrat', sans-serif;
    color: $color-darkBlue;
    animation-name: fadeInUp;
    animation-duration: 5s;
    animation-delay: -1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    @include media($tablet){
      font-size: rem(34);
    }
    @include media($desktop){
      font-size: rem(44);
      text-align: start; 
    }
  }
  &__bar{
    display: block;
    border-bottom: 2px solid #252525;
    width: 30px;
    margin: rem(28) auto; 
  }
}
  

