/** MEDIAQUERIES BREAKPOINTS **/
$tablet: 768px;
$desktop: 1024px;

/** FONT SIZE **/
$FontSize: 16;


/**COLORS**/
$color-orange: #EE8927;
$color-darkBlue: #151829;
$color-black: black;
$color-background-menu: #292940eb;
$color-white: white;
$color-title: #2b2b2b;
